
@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html>

<head>
    <!--meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Vendors Registration Page</title>
    <!-- favicon -->
    <!--<link rel="shortcut icon" href="../../App_Themes/Default/images/favicon.ico" type="image/x-icon">-->

    <link href="../../App_Themes/Default/css/kendo.common.min.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/kendo.default.min.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/fonts.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/styleguide.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/responsive.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/casepoint.comfortable.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/kendo.Yellow.css" rel="stylesheet" />

    <link href="../../App_Themes/Default/css/login.css" rel="stylesheet" />
    <link href="~/App_Themes/Default/css/popup.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>

        var API_URL = "@System.Configuration.ConfigurationManager.AppSettings["APIBase"]";
        var UI_URL =" @System.Configuration.ConfigurationManager.AppSettings["UIBase"]";
    </script>
</head>

<body>
    <div class="login-bg-wrapper d-flex flex-column">
        <div class="login-logo-header d-flex align-items-center">
            <a href="#" class="login-logo-wrapper">
                <img src="../../logo/my vendor.png"
                     class="login-logo-img" alt="My Vendors" />
            </a>

        </div>
        <div class="login-graphic-wrapper flex-1 overflow-auto d-flex flex-wrap">
            <div class="login-left-wrapper">
                <div>
                    <img src="~/Image/Vendor.png" alt="Clarent Institute"
                         class="login-graphice-img" />
                </div>
            </div>

            <div class="login-right-wrapper">
                <div class="loginpage-box-wrapper">
                    <h2 class="login-title text-dark font-bold">Sign Up</h2>
                    <div class="loginpage-box-content">
                        <div class="form-group">
                            <input type="text" class="k-textbox login-textbox" placeholder="First Name" id="firstName" onchange="return firstname()">
                            <span class="login-textbox-icon"><i class="icon-user"></i></span>
                            <span id="firstNameValidateMessage"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="k-textbox login-textbox" placeholder="last Name" id="lastName" onchange="return lastname()">
                            <span class="login-textbox-icon"><i class="icon-user"></i></span>
                            <span id="lastNameValidateMessage"></span>
                        </div>

                        <div class="form-group">
                            <input type="email" class="k-textbox login-textbox" placeholder="Email" id="emailId" onchange="return email()">
                            <span class="login-textbox-icon"><i class="icon-email"></i></span>
                            <span id="emailIdValidateMessage"></span>
                        </div>

                        <div class="form-group">
                            <input type="password" class="k-textbox login-textbox" placeholder="Password" id="password" onchange="pswd()">
                            <span class="login-textbox-icon"><i class="icon-locked"></i></span>
                            <span id="passwordValidateMessage"></span>
                        </div>

                        <div class="form-group">
                            <input type="password" class="k-textbox login-textbox" placeholder="Confirm Password" id="confirmPassword" onchange="confirmpasswod()">
                            <span class="login-textbox-icon"><i class="icon-locked"></i></span>
                            <span id="confirmPasswordValidateMessage"></span>
                        </div>

                        <div class="login-input-check">
                            <div class="login-input-checkbox">
                                <input type='checkbox' class='k-checkbox' id='acceptTs'>
                                <label class='k-checkbox-label' for='acceptTs'>
                                    <span>I accept the</span><a href="#mymodal" data-toggle="modal"
                                                                aria-label="Terms of use">Terms of Use & Privacy Policy.</a>
                                </label>
                                <span id="checkValidateMessage"></span>
                            </div>
                        </div>

                        <div class="form-group pb-10">
                            @*<button class="btn btn-primary k-button w100 loginbtn" onclick="validate()" id="btn_regi" disabled>Sign Up</button>*@
                            <input type="submit" value="Sign Up" class="btn btn-primary k-button w100 loginbtn" onclick="validate()" id="btn_regi" disabled />
                        </div>

                        <div class="text-center">
                            <span class="text-dark font-medium">Have an account with us?</span>
                            @*<a href="" aria-label="Login" class="forgot-pwd btn-link-trans font-medium text-dark text-primary">Login here</a>*@
                            @Html.ActionLink("Login Here", "Login", "Login")
                        </div>
                    </div>
                </div>
            </div>
            <div class="notification-box success" id="success-box">
                <div class="notification-alert success">
                    <div class="pull-left"><i class="icon-check" aria-hidden="false"></i></div>
                    <div class="pull-right" role="alert" aria-label="Success">
                        <h5>Success!</h5>
                        <p>User Registration successfully.</p>
                    </div>
                    <a href="javascript:void(0)" class="close btn-red-circle" aria-label="Close Notification" role="button" id="close-success"><i class="icon-cancel" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="notification-box warning" id="alert-box">
                <div class="notification-alert warning">
                    <div class="pull-left"><i class="icon-warning" aria-hidden="true"></i></div>
                    <div class="pull-right" role="alert" aria-label="warning">
                        <h5>warning!</h5>
                        <p>Email is already in use, try with new email.</p>
                    </div>
                    <a href="javascript:void(0)" class="close btn-red-circle" aria-label="Close Notification" role="button" id="close-alert"><i class="icon-cancel" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="mymodal" style="margin-top:250px">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" style="position:absolute"><strong>Terms & Conditions</strong></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div>
                            <p style="padding:20px"> This policy describes how Vendor Management System treats your information.. </p>
                        </div>
                        <div class="modal-footer">
                            <form>
                                <input type="button" class="btn btn-success" style="width:20%; height:40%" id="btnagree" value="Accept" data-dismiss="modal">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Scripts/Kendo/jquery.min.js"></script>
    <script src="../../Scripts/Kendo/kendo.all.min.js"></script>
    <script src="~/JavaScript/Registration/Registration.js"></script>
    <script>
        //user is tabbing
        function handleFirstTab(e) {
            document.body.classList.add('user-is-tabbing');
            document.removeEventListener('keyup', handleFirstTab);
            document.addEventListener('mousedown', handleMouseDownOnce);
        }

        function handleMouseDownOnce() {
            document.body.classList.remove('user-is-tabbing');
            document.removeEventListener('mousedown', handleMouseDownOnce);
            document.addEventListener('keyup', handleFirstTab);
        }


        window.addEventListener('keyup', handleFirstTab);
    </script>
</body>

</html>



